.about {
  display: flex;
  padding: 5rem;
  flex-direction: column;

  @include themed() {
    background-color: t(bg-about);
  }

  &__header {
    @include themed() {
      border-bottom: 3px solid t(color-text);
    }
    margin-bottom: 2rem;
  }

  &__title {
    letter-spacing: 1px;
    font-size: $font-size-very-large;
    @include themed() {
      color: t(color-text);
    }
  }

  &__subtitle {
    letter-spacing: 1px;
    font-size: $font-size-large;
    @include themed() {
      color: t(color-text);
    }
  }

  &__paragraph {
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: $font-size-small;
    @include themed() {
      color: t(color-text);
    }
  }
}
