.contact {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  padding-bottom: 10rem;
  @include themed() {
    background-color: t(bg-about);
  }

  &__title {
    padding-bottom: 2rem;
    font-size: $font-size-large;
    @include themed() {
      color: t(color-text);
      border-bottom: 2px solid t(color-text);
    }
  }

  &__list {
    margin: 0;
  }

  &__item {
    margin-bottom: 3rem;
  }

  &__link {
    word-break: break-all;
    font-size: $font-size-medium;
    @include themed() {
      color: t(color-text);
    }
  }
}
