.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include themed() {
    background-color: t(bg-nav);
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
    padding: 3rem;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__link {
    letter-spacing: 1px;
    font-size: $font-size-small;
    position: relative;
    text-decoration: none;

    @include themed() {
      color: t(color-link);
    }

    &:hover::after {
      content: "";
      position: absolute;
      display: block;
      border-bottom: solid 0.3rem white;
      width: 50%;
      transform: translateX(50%);
    }
  }

  .hidden {
    display: none;
  }
}
