.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
  @include themed() {
    background-color: t(bg-nav);
  }

  &__title {
    margin: 5rem;
    letter-spacing: 3px;
    padding-bottom: 3rem;
    font-size: $font-size-large;
    @include themed() {
      color: t(color-link);
      border-bottom: 3px solid t(color-link);
    }
  }

  &__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    list-style: none;
    gap: 5rem;
  }

  &__item {
    background-color: rgb(68, 65, 61);
    border-radius: 1rem;
    width: min(60rem, 80%);
    height: max-content;
    padding-bottom: 2rem;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s linear, transform 0.3s linear;

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      list-style: none;
      padding: 1rem;

      &__tech {
        font-size: $font-size-small;
        border-radius: 1rem;
        background-color: black;
        letter-spacing: 1px;
        color: white;
        padding: 0.5rem;
      }
    }

    &__title {
      text-align: center;
      letter-spacing: 1px;
      font-size: $font-size-medium;
      @include themed() {
        color: t(color-link);
      }
    }

    &__paragraph {
      padding: 1rem;
      line-height: 1.5;
      letter-spacing: 1px;
      font-size: $font-size-small;
      @include themed() {
        color: t(color-link);
      }
    }

    &__link {
      font-size: $font-size-small;
      @include themed() {
        color: t(color-link);
      }
      padding: 1rem;
    }
  }

  .show {
    opacity: 1;
    transform: translateX(0%);
  }
}
