.theme {
  &-slider {
    display: flex;
    align-items: center;
    position: relative;
  }

  &-checkbox + &-slider::before {
    content: "";
    @include themed() {
      background-color: t(slider-bg);
    }
    height: 3rem;
    width: 8rem;
  }

  &-checkbox + &-slider::after {
    position: absolute;
    content: "";
    @include themed() {
      background-color: t(slider);
    }
    height: 2.5rem;
    width: 2.5rem;
    left: 0.5rem;
    transition: left 0.2s linear;
  }

  &-checkbox:checked + &-slider::before {
    @include themed() {
      background-color: t(slider-bg);
    }
  }

  &-checkbox:checked + &-slider::after {
    left: 5rem;
    @include themed() {
      background-color: t(slider);
    }
  }

  &-checkbox {
    opacity: 0;
    position: absolute;
    left: -99999px;
  }
}
