$font-family: "Spartan", sans-serif;

$font-size-very-large: clamp(3rem, 4vw, 4rem);
$font-size-large: clamp(2.5rem, 3vw, 3.5rem);
$font-size-medium: clamp(2rem, 3vw, 3rem);
$font-size-small: clamp(1.1rem, 2vw, 2.1rem);

$themes: (
  dark: (
    color-text: rgb(23, 24, 24),
    color-link: white,
    bg-nav: rgb(23, 24, 24),
    bg-about: white,
    slider-bg: white,
    slider: gray,
  ),
  light: (
    color-text: white,
    color-link: rgb(23, 24, 24),
    bg-nav: white,
    bg-about: rgb(23, 24, 24),
    slider-bg: rgb(23, 24, 24),
    slider: gray,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
