$font-family: Arial, Helvetica, sans-serif;

$font-size-very-large: clamp(3rem, 4vw, 4rem);
$font-size-large: clamp(2.5rem, 3vw, 3.5rem);
$font-size-medium: clamp(2rem, 3vw, 3rem);
$font-size-small: clamp(1rem, 2vw, 2rem);

$themes: (
  light: (
    color-text: rgb(251, 251, 251),
    color-link: white,
    bg-nav: rgb(23, 24, 24),
    slider-bg: white,
    slider: gray,
    bg-about: white,
  ),
  dark: (
    color-text: black,
    color-link: black,
    bg-nav: rgb(46, 46, 49),
    slider-bg: white,
    slider: gray,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
