html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.theme--dark .nav {
  background-color: #171818;
}
.theme--light .nav {
  background-color: white;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 5rem;
  list-style: none;
  padding: 3rem;
}
@media (max-width: 500px) {
  .nav__list {
    display: none;
  }
}
.nav__link {
  letter-spacing: 1px;
  font-size: clamp(1rem, 2vw, 2rem);
  position: relative;
  text-decoration: none;
}
.theme--dark .nav__link {
  color: white;
}
.theme--light .nav__link {
  color: #171818;
}
.nav__link:hover::after {
  content: "";
  position: absolute;
  display: block;
  width: 50%;
  transform: translateX(50%);
}
.theme--dark .nav__link:hover::after {
  border-bottom: solid 0.3rem white;
}
.theme--light .nav__link:hover::after {
  border-bottom: solid 0.3rem #171818;
}
.nav .hidden {
  display: none;
}

.about {
  display: flex;
  padding: 5rem;
  flex-direction: column;
}
.theme--dark .about {
  background-color: white;
}
.theme--light .about {
  background-color: #171818;
}
.theme--dark .about__header {
  border-bottom: 3px solid #171818;
}
.theme--light .about__header {
  border-bottom: 3px solid white;
}
.about__title {
  letter-spacing: 1px;
  font-size: clamp(3rem, 4vw, 4rem);
}
.theme--dark .about__title {
  color: #171818;
}
.theme--light .about__title {
  color: white;
}
.about__subtitle {
  letter-spacing: 1px;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
}
.theme--dark .about__subtitle {
  color: #171818;
}
.theme--light .about__subtitle {
  color: white;
}
.about__paragraph {
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: clamp(1rem, 2vw, 2rem);
}
.theme--dark .about__paragraph {
  color: #171818;
}
.theme--light .about__paragraph {
  color: white;
}

.projects {
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.theme--dark .projects {
  background-color: #171818;
}
.theme--light .projects {
  background-color: white;
}
.projects__title {
  margin: 5rem;
  letter-spacing: 3px;
  padding-bottom: 3rem;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
}
.theme--dark .projects__title {
  color: white;
  border-bottom: 3px solid white;
}
.theme--light .projects__title {
  color: #171818;
  border-bottom: 3px solid #171818;
}
.projects__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  list-style: none;
  gap: 5rem;
}
.projects__item {
  background-color: #44413d;
  border-radius: 1rem;
  width: min(60rem, 80%);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 2rem;
}
.projects__item__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
}
.projects__item__list__tech {
  font-size: clamp(1rem, 2vw, 2rem);
  border-radius: 1rem;
  background-color: black;
  letter-spacing: 1px;
  color: white;
  padding: 0.5rem;
}
.projects__item__title {
  text-align: center;
  letter-spacing: 1px;
  font-size: clamp(2rem, 3vw, 3rem);
}
.theme--dark .projects__item__title {
  color: white;
}
.theme--light .projects__item__title {
  color: #171818;
}
.projects__item__paragraph {
  padding: 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: clamp(1rem, 2vw, 2rem);
}
.theme--dark .projects__item__paragraph {
  color: white;
}
.theme--light .projects__item__paragraph {
  color: #171818;
}
.projects__item__link {
  font-size: clamp(1rem, 2vw, 2rem);
  padding: 1rem;
}
.theme--dark .projects__item__link {
  color: white;
}
.theme--light .projects__item__link {
  color: #171818;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  padding-bottom: 10rem;
}
.theme--dark .contact {
  background-color: white;
}
.theme--light .contact {
  background-color: #171818;
}
.contact__title {
  padding-bottom: 2rem;
  font-size: clamp(2.5rem, 3vw, 3.5rem);
}
.theme--dark .contact__title {
  color: #171818;
  border-bottom: 2px solid #171818;
}
.theme--light .contact__title {
  color: white;
  border-bottom: 2px solid white;
}
.contact__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.contact__item {
  margin-bottom: 3rem;
}
.contact__link {
  word-break: break-all;
  font-size: clamp(2rem, 3vw, 3rem);
}
.theme--dark .contact__link {
  color: #171818;
}
.theme--light .contact__link {
  color: white;
}

.theme-slider {
  display: flex;
  align-items: center;
  position: relative;
}
.theme-checkbox + .theme-slider::before {
  content: "";
  height: 3rem;
  width: 8rem;
}
.theme--dark .theme-checkbox + .theme-slider::before {
  background-color: white;
}
.theme--light .theme-checkbox + .theme-slider::before {
  background-color: #171818;
}
.theme-checkbox + .theme-slider::after {
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2.5rem;
  left: 0.5rem;
  transition: left 0.2s linear;
}
.theme--dark .theme-checkbox + .theme-slider::after {
  background-color: gray;
}
.theme--light .theme-checkbox + .theme-slider::after {
  background-color: gray;
}
.theme--dark .theme-checkbox:checked + .theme-slider::before {
  background-color: white;
}
.theme--light .theme-checkbox:checked + .theme-slider::before {
  background-color: #171818;
}
.theme-checkbox:checked + .theme-slider::after {
  left: 5rem;
}
.theme--dark .theme-checkbox:checked + .theme-slider::after {
  background-color: gray;
}
.theme--light .theme-checkbox:checked + .theme-slider::after {
  background-color: gray;
}
.theme-checkbox {
  opacity: 0;
  position: absolute;
  left: -99999px;
}/*# sourceMappingURL=styles.css.map */